.demo1-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button-container button{
    height: 30px;
    padding: 5px;
    text-align: center;
    border: black 1px solid;
}

.state-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.state-container button{
    height: 30px;
    width: 50px;
    text-align: center;
    border: black 1px solid;
}