
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    background-color: rgb(90, 54, 28);
    color: aliceblue;
    font-family: Nunito;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
}

.header-container p{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.botaoNav{
    background-color: rgb(90, 54, 28);
    color: black;
    font-family: Nunito;
    font-size: 20px;
    font-weight: bold;
    background-color: beige;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}